body{
    background:#ecfdf7;
    padding-bottom:30px;
    background: #4c240a url("../images/bg.png") no-repeat right top;

}

.main-container{
    margin-top:70px;
}

.store-icon{
    width:250px;
    height:75px;
}

.quote{
    font-size:40px;
    color:#fff;
    margin-bottom:80px;
    margin-top:120px;
    text-shadow: 2px 2px #000;
}

.quote > h1{
    line-height:1.6;
}

.main-image{
    height:500px;
}



@media(min-width: 1200px){
    
    
}

@media(min-width: 992px) and (max-width: 1200px){
    
    
}

@media(min-width: 768px) and (max-width: 992px){
    .quote{
        margin-top:20px;
        margin-bottom:20px;
    }
    
}


@media(min-width: 480px) and (max-width: 768px){
    .main-container{
        margin-top:20px;
    }
    
    .quote{
        margin-top:20px;
        margin-bottom:20px;
    }
}

@media(max-width: 480px){
    .main-container{
        margin-top:20px;
    }
    
    .quote{
        margin-top:20px;
        margin-bottom:20px;
    }
}


